/*variables*/
$ColorPrincipal: rgb(0, 0, 0);
$ColorSecundario: rgb(201, 34, 34);
$FuenteTitulo: 60px;
$FuenteTexto: 20px;

* {
    margin: 0;
    padding: 0;
}



@mixin background-flex {
    background-color: $ColorSecundario;
    border: 1px solid white;
    box-shadow: -1px -1px 4px 0.5px #ffffff;
}

.logo {
    width: 100%;
    height: 250px;
}

.btn {
    background-color: $ColorSecundario;
    font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    &:hover {
        &:hover {
            transition: background-color 0.1s;
            background-color: red;
            box-shadow: 5px 5px 10px #b62828;  
        }
    }
}

.guante{
    width: 20px;
    height: 20px;
    margin-top: -3px;
}

.dropdown-menu {
    background-color: black;

    .dropdown-item {
        font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        ;
        color: white;

        &:hover {
            transition: backgrond-color 0.1s;
            background-color: $ColorSecundario;
            box-shadow: 5px 5px 10px #b62828;
            text-align: center;
        }
    }
}


body {
    background-color: $ColorPrincipal;
}

.footer,
footer {
    background-color: $ColorSecundario;
}

.derechos,
derechos {
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
    font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 4%;
    margin-bottom: 3%;
    font-size: $FuenteTitulo;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}

.flex1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .boxindex {
        height: 200px;
        width: 350px;
        margin-top: 10px;
        margin-right: 5px;
    }

    .box {
        width: 400px;
        height: 250px;
        margin: 2%;
        text-align: center;
        @include background-flex;

        .pbox {
            text-align: center;
            color: rgb(255, 255, 255);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 30px;
            font-weight: bold;

        }
    }
}

.boxopiniones1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .perfil {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        border: 1px solid white;
        float: left;
        margin-right: 3%;
        margin-top: 2%;
        margin-left: 2%;
    }

    .opiniones {
        margin-top: 3%;
        margin-left: 2%;
        margin-right: 2%;
        width: 550px;
        height: 110px;
        font-size: large;
        @include background-flex;
    }
}

p {
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: $FuenteTexto;
}

.texto {
    margin: 50px;
}

.texto1 {
    margin: 50px;
    text-align: center;
}

.uiama {
    width: 450px;
    height: 350px;
    text-align: center;
}

.flex2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .tienda {
        margin-top: 3%;
        height: 200px;
        width: 180px;
        border: 2px solid #131313;
    }

    .txttienda {
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-right: 2%;
        margin-left: 2%;
        font-size: 15px;
    }

    .model {
        margin-top: 3%;
        margin-left: 5%;
        width: 230px;
        height: 280px;
        font-size: x-large;
        text-align: center;
        @include background-flex;
    }

    .menu1 {
        background-color: $ColorPrincipal;
        border: #ffffff 2px solid;
        display: inline;
        margin-right: 3px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;

        &:hover {
            transition: background-color 0.1s;
            box-shadow: 5px 5px 10px #000000;
        }
    }
}

.lugar {
    width: 350px;
    height: 400px;
    margin-top: 50px;
}

table {
    width: 70%;
    margin-top: 40px;
    margin-bottom: 20px;
    margin: 0 auto;

    td {
        text-align: center;
        color: white;
        font-weight: bold;
        background-color: $ColorSecundario;
        border: 2px solid white;
        margin-left: 10px;
        margin-right: 20px;

    }

}

.clasesdrive {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .menu2 {
        background-color: $ColorSecundario;
        border: #ffffff 2px solid;
        display: inline;
        margin-bottom: 20px;
        margin-top: 50px;
        margin-right: 3px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        height: 60px;
        font-size: 40px;
        font-weight: bolder;
        text-align: center;

        &:hover {
            transition: background-color 0.1s;
            background-color: $ColorPrincipal;
            box-shadow: 5px 5px 10px #e41010;
        }
    }
}

.menu3 {
        background-color: $ColorSecundario;
        border: #ffffff 2px solid;
        display: inline;
        margin-right: 3px;
        font-size: 15px;
        text-align: center;
        width: 200px;
        height: 30px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        &:hover {
            transition: background-color 0.1s;
            background-color: $ColorPrincipal;
            box-shadow: 5px 5px 10px #e41010;
        }
    }

.fotosuiama {
    height: 7rem;
    width: 9rem;
    margin-top: 5%;
    margin-left: 4%;
    margin-bottom: 4%;
    justify-content: center;
}


.carousel,
.carousel-item>.item>img {
    text-align: center;
}

.contacto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.form {
    text-align: center;
    width: px;
    padding: 20px;
    margin: auto;
    @include background-flex;

    .form1 {
        color: rgb(2, 2, 2);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-right: 2%;
        margin-left: 2%;

        .txtform {
            background-color: #ad2d2d;
            border: #ffffff 2px solid;
            display: inline;
            margin-right: 10px;
        }
    }

    .consulta {
        width: 100%;
        height: 100px;
        border: 1px solid #f6f6f6;
        background-color: #f6f6f6;
        margin: 8px 0;
        resize: none;
        display: block;
    }

    .consulta {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}

.button {
    width: 100px;
    height: 40px;
    text-align: center;
    border: 3px solid rgb(255, 255, 255);
}

.enviar {
    @extend .button;
    background-color: $ColorPrincipal;
    color: rgb(255, 255, 255);

    &:hover {
        background-color: #fcf9f9;
        color: rgb(4, 221, 4);
        transition: background-color 0.1s;
        box-shadow: 3px 3px 10px #000000;
    }
}

.cancelar {
    @extend .button;
    background-color: rgb(243, 243, 243);
    color: rgb(0, 0, 0);
    border: 3px solid #131313;

    &:hover {
        background-color: $ColorPrincipal;
        color: red;
        transition: background-color 0.1s;
        box-shadow: 3px 3px 10px #999;
    }
}


.map {
    text-align: center;
    margin-top: 30px;

    .tamaño {
        border: 5px rgb(255, 255, 255) solid;
        width: 600px;
        height: 280px;
    }
}

.p1 {
    text-align: center;
}




.menufooter {
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

a {
    color: white;
    text-decoration: none;
    margin: 5px;
}

.redes {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 16px;

    .redes1 {
        width: 50px;
        height: 50px;
        margin-top: 10px;
    }
}

@media (max-width: 576px) {

    *{
        margin: 0;
        padding: 0;
    }

    
.btn {
    font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    &:hover {
        &:hover {
            transition: background-color 0.1s;
            background-color: red;
            box-shadow: 5px 5px 10px #b62828;  
        }
    }
}

.guante{
    width: 15px;
    height: 15px;
    margin-top: -3px;
}

    .dropdown-item {
        font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 15px;
        color: white;
    }

    .flex1,
    flex1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .box,
        box {
            width: 350px;
            height: 260px;
            margin: 10px;
            text-align: center;
            @include background-flex;
        }

        .boxindex,
        boxindex {
            height: 200px;
            width: 300px;
            margin-top: 10px;
            margin-right: 5px;
        }
    }

    .boxopiniones1,
    boxopiniones1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .opiniones,
        opiniones {
            margin-top: 3%;
            margin-left: 1%;
            margin-bottom: 5%;
            width: 350px;
            height: 130px;
            @include background-flex;

            .perfil,
            perfil {
                width: 90px;
                height: 90px;
                border-radius: 70px;
                border: 1px solid white;
                float: left;
                margin-right: 3%;
                margin-top: 2%;
                margin-left: 2%;
            }
        }
    }

    .flex2,
    flex2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .model {
        margin-top: 3%;
        margin-left: 100px;
        margin-bottom: 10%;
        width: 200px;
        height: 220px;
        text-align: center;
        @include background-flex;
    }

    .txttienda {
        text-align: center;
        color: rgb(255, 255, 255);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .lugar,
    lugar {
        border: 1px solid white;
        margin-left: 3%;
        margin-top: 4%;
        width: 250px;
        height: 250px;
        align-items: center;

    }

    table {
        display: block;
        overflow-x: auto;

        td {
            font-size: 20px;
        }
    }

   

    .clasesdrive {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .menu2 {
            background-color: $ColorSecundario;
            border: #ffffff 2px solid;
            display: inline;
            margin-bottom: 20px;
            margin-top: 50px;
            margin-right: 3px;
            font-family: Arial, Helvetica, sans-serif;
            width: 250px;
            height: 80px;
            font-size: 20px;
            font-weight: bolder;
            text-align: center;

            &:hover {
                transition: background-color 0.1s;
                box-shadow: 5px 5px 10px #e41010;
            }
        }
    }

    .menu3 {
        background-color: $ColorSecundario;
        border: #ffffff 2px solid;
        display: inline;
        margin-right: 3px;
        font-size: 15px;
        text-align: center;
        width: 200px;
        height: 30px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        &:hover {
            transition: background-color 0.1s;
            background-color: $ColorPrincipal;
            box-shadow: 5px 5px 10px #e41010;
        }
    }

    .fotosuiama,
    fotosuiama {
        display: none;
    }

    .contacto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .form,
    form {
        text-align: center;
        width: 250px;
        padding: 20px;
        margin: auto;
        @include background-flex;
    }


    .form1,
    form1 {
        color: rgb(2, 2, 2);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .txtform,
    txtform {
        background-color: #ad2d2d;
        border: #ffffff 2px solid;
        display: inline;
        margin-right: 10px;
    }

    .consulta,
    consulta {
        width: 100%;
        height: 100px;
        border: 1px solid #f6f6f6;
        background-color: #f6f6f6;
        margin: 8px 0;
        resize: none;
        display: block;
    }

    .input,
    input {
        width: 100%;
    }

    .button {
        width: 80px;
        height: 30px;
        text-align: center;
        border: 3px solid rgb(255, 255, 255);
        font-size: 15px
    }

    .enviar {
        @extend .button;
        background-color: rgb(12, 12, 12);
        color: rgb(255, 255, 255);
        border: 2px solid white
    }


    .cancelar {
        @extend .button;
        background-color: rgb(243, 243, 243);
        color: rgb(0, 0, 0);
        border: 2px solid #131313;
    }

    .map {
        text-align: center;
        margin-top: 30px;

        .tamaño {
            border: 5px rgb(255, 255, 255) solid;
            width: 290px;
            height: 280px;
        }
    }



    .menufooter,
    menufooter {
        font-size: large;
    }

    .p,
    p {
        color: rgb(255, 255, 254);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        margin-top: 2%;
        margin-bottom: 2%;

    }

    .uiama {
        width: 350px;
        height: 200px;
        text-align: center;
    }

    .h1,
    h1 {
        color: rgb(255, 255, 255);
        font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bold;
        margin-top: 4%;
        margin-bottom: 3%;
        text-align: center;
        font-size: 25px;
    }

    .texto1 {
        margin: 50px;
        text-align: center;
        font-size: 20px;
    }
}